.large-logo {
  margin-right: 15%;
  max-width: 35vw;
  position: absolute;
  right: 0;
  top: 0;
}

.spiral-background {
  margin-top: 80%;
  position: absolute;
  right: 0;
}

.small-star {
  left: 0;
  top: 0;
  margin: 12% 0 0 10%;
  position: absolute;
}

.background-star {
  left: 0;
  margin-top: 12%;
  position: absolute;
}

.icons-image {
  margin: 1rem auto;
  width: 20rem;
}

.icons-image-mobile {
  display: none;
  height: max-content;
  width: 2rem;
}
