.callToAction {
  max-width: 75vw;
  position: relative;
  width: 34rem;
  z-index: 1;
}

.callToAction h1 {
  color: #E0FF3D;
  font-family: Poppins;
  font-size: 72px;
  font-weight: bold;
  letter-spacing: -2.72px;
  margin-bottom: 0.5rem;
  max-width: 40vw;
  width: 28rem;
}

.callToAction h2 {
  color: #FFFFFF;
  font-family: 'IBM Plex Mono';
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 3.5rem;
}

.callToAction span {
  color: #FFFFFF;
  display: block;
  font-family: 'IBM Plex Mono';
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 1.5rem;
}

.callToAction button {
  margin: 0.75rem 1rem 0 0;
}

.buttons {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 768px) {
  .buttons {
    flex-direction: column;
  }

  .callToAction {
    max-width: 100%;
    width: 100%;
  }

  .callToAction h1 {
    font-size: 60px;
    max-width: 100%;
  }

  .callToAction h2 {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 2rem;
  }

  .callToAction span {
    display: block;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 2rem 2rem;
  }
}
