.callToAction {
  width: 34rem;
}

.callToAction h1 {
  color: #E0FF3D;
  font-family: Poppins;
  font-size: 72px;
  font-weight: bold;
  letter-spacing: -2.72px;
  margin-bottom: 0.5rem;
  width: 28rem;
}

.callToAction h2 {
  color: #E0FF3D;
  font-family: 'IBM Plex Mono';
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 3.5rem;
}

.callToAction span {
  color: #E0FF3D;
  display: block;
  font-family: 'IBM Plex Mono';
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 1.5rem;
}

.callToAction button {
  margin-right: 1rem;
}
