.footer {
  background: #EFF2F5;
  height: auto;
  padding: 2rem 4rem;
  text-align: center;
  width: auto;
}

.footer span, a {
  color: #001133;
  display: flex;
  flex-direction: column;
  font-family: 'Poppins';
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.89px;
  line-height: 18px;
  margin: 0.75rem 0;
  text-align: center;
  text-transform: uppercase;
}

.logos {
  display: inline-flex;
  margin: 0 auto;
}

.logos div {
  margin: auto 0.5rem;
}

.separator {
  border-left: 1px solid black;
  height: 2rem;
}

@media only screen and (max-width: 768px) {
  .footer {
    padding: 2rem;
  }
}
