.general {
    align-items: center;
    display: block;
}

.general h5 {
  color: #E0FF3D;
  font-family: "IBM Plex Mono";
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  width: 35rem;
}

.general span {
  color: #E0FF3D;
  font-family: "IBM Plex Mono";
  font-size: 16px;
  line-height: 24px;
}

.general span:first-child {
  display: inline-block;
}

.general button {
  display: block;
  margin: 1rem auto 0 auto;
}

.column {
  column-count: 2;
  padding: 1.5rem 0;
  max-width: 80vw;
}

.column span:first-child {
  margin-bottom: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .general {
    align-items: flex-start;
  }

  .column {
    column-count: 1;
    padding: 0 2rem 2rem 4rem;
  }

  .content {
    flex-direction: row;
  }
}
