.general {
    align-items: center;
    display: block;
}

.general h5 {
  color: #E0FF3D;
  font-family: "IBM Plex Mono";
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  width: 35rem;
}

.general span {
  color: #FFFFFF;
  font-family: "IBM Plex Mono";
  font-size: 16px;
  line-height: 24px;
}

.general button {
  display: block;
  margin: 1rem auto 0 auto;
}

.column {
  display: flex;
  flex-direction: row;
  padding: 1.5rem 0;
}

.column span {
  margin: 0 1rem;
  width: 50%;
}

.content {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .general {
    align-items: flex-start;
  }

  .column {
    column-count: 1;
    padding: 0 2rem 2rem 2rem;
  }

  .content {
    flex-direction: row;
  }
}
