.recent {
  color: red;
  position: relative;
}

.recent button {
  display: block;
  margin: 2.5rem auto 0 auto;
}

.recent button a {
  font-size: 16px;
}

.subjects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subject {
  display: flex;
  flex-direction: column;
}

.subject img {
  border: 1px solid #E1E3E6;
  border-radius: 0.2rem;
  height: 22vw;
  margin-bottom: 0.25rem;
  width: 22vw;
}

.subject a {
  color: #F3AB91;
  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
}

.subject a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .recent h3 {
    text-align: left;
    max-width: 60vw;
  }

  .recent span {
    text-align: left;
    margin: 1rem 0 2rem 0;
  }

  .subjects {
    flex-wrap: wrap;
  }

  .subjects {
    justify-content: space-between;
  }

  .subjects .subject:first-child {
    margin-bottom: 1rem;
  }

  .subjects .subject:first-child div {
    height: 86vw;
    width: 100%;
  }

  .subjects .subject:nth-child(2) div {
    height: 42vw;
    width: 100%;
  }

  .subjects .subject:nth-child(3) div {
    height: 42vw;
    width: 100%;
  }

  .subjects > div:first-child {
    width: 100%;
  }

  .subjects > div:nth-child(2) {
    width: 48%;
  }

  .subjects > div:nth-child(3) {
    width: 48%;
  }

  .subjects .subject:nth-child(3) {
    margin-left: 2vw;
  }
}
