.recent {
  color: red;
}

.recent button {
  display: block;
  height: 3.5rem;
  margin: 3rem auto;
  width: 28rem;
}

.recent button a {
  font-size: 16px;
}

.subjects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.subject {
  display: flex;
  flex-direction: column;
}

.subject div {
  border: 1px solid #E1E3E6;
  border-radius: 0.2rem;
  height: 22vw;
  width: 22vw;
}

.subject a {
  color: #F3AB91;
  font-family: Poppins;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .recent h3 {
    text-align: left;
    margin: 0;
    max-width: 60vw;
  }

  .recent span {
    text-align: left;
    margin: 1rem 0 2rem 0;
  }

  .subjects {
    flex-wrap: wrap;
    width: 85vw;
  }

  .subjects {
    justify-content: flex-start;
  }

  .subjects .subject:first-child div {
    height: 82vw;
    width: 82vw;
  }

  .subjects .subject:nth-child(2) div {
    height: 40vw;
    width: 40vw;
  }

  .subjects .subject:nth-child(3) div {
    height: 40vw;
    width: 40vw;
  }

  .subjects .subject:nth-child(3) {
    margin-left: 2vw;
  }

  .recent button {
    margin: 1.5rem auto;
  }
}
